/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', 'serif';

    cursor: pointer;
}

.block-container.css-18e3th9.egzxvld2 {
    background-color: #000;
}


.marks{
    color: transparent;
}
